<!DOCTYPE html>
<html>
  <head>
    <title>Rails Directory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  </head>

  <body>
    <nav class="">
    </nav>

    <div class="layout">
      <%= yield %>
    </div>

    <footer class="">
    </footer>
  </body>
</html>
