<!DOCTYPE html>
<html>
  <head>
    <title>Rails Directory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= content_for :head %>
  </head>

  <body class="text-black font-sans">
    <nav class="flex justify-between mt-[20px] h-32">
      <ul class="mx-auto relative">
        <li><%= link_to "", root_path, class: "nav__logo absolute rounded-full h-28 w-28 bg-red hover:bg-black block hover:transition-all duration-300" %></li>
      </ul>
    </nav>

    <main class="max-w-7xl mx-auto">
      <%= yield %>
    </main>

    <footer class="">
    </footer>
  </body>
</html>
